{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <title>
        {% block title %} {% endblock title %}
    </title>
</head>
<body>
    <header class="header">
    <h1 class="logo">Student Portal</h1>

    <nav class="nav">
        <ul>
            <li><a href="{% url 'student_list' %}">Home</a></li>
            <li><a href="{% url 'add_student' %}">Add Student</a></li>
            <li><a href="{% url 'student_list' %}">Student</a></li>
            <li><a href="{% url 'settings' %}">Contact</a></li>
        </ul>
    </nav>
</header>
    {% block content %} {% endblock content %}
    <main>

    </main>
    <footer class="footer">
    <p>© 2026 Student Portal | All Rights Reserved</p>
</footer>
</body>
</html>